body {
color:#ff6a00;;
 /*background-color:#fff700; */
 background-image:url(backgforind.png);
 background-size:100% 100%;
 background-repeat:no-repeat;
}

#navbar{
background-color:#547aa8;
height:40px;
border-radius:12px;
font:Tahoma;
font-size:18px;
	margin:8px;
	color:white;
}

p{
font-size:20px;
font-family:helvetica;
color:#ff6a00;
font-weight:bold;
opacity:1;
}